*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width:768px){
	/* small screen */
	div.full-details{
	display: none;
	}
	div.less-detials{display:block;}
} 

@media screen and (min-width:768px) and (max-width:024px){
	/* medium screen */
	div.full-details{
	display: block;
	}
	div.less-detials{display:none;}
	
	.hideable-column{
	    display:none;
	}
} 

@media screen and (min-width:1024px){
	/* large screen */
	div.less-detials{display:none;}
	.hideable-column{
	    display:table-cell;
	}
} 